<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aroutertestdemo" >


    <application>

        <activity android:name=".TestArouterMainActivity">

        </activity>

        <activity android:name=".MainActivity">

        </activity>


        <!--<meta-data-->
            <!--android:name="com.example.nettestdemo.NetTestApplication"-->
            <!--android:value="IModuleConfig" />-->



        <meta-data
            android:name="com.example.aroutertestdemo.ArouterApplication"
            android:value="IModuleConfig" />

    </application>




</manifest>
