<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_login">

    <application>
        <activity android:name="com.wxq.developtools.activity.KlookLoginActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- TODO 集成：1.2、添加推送所需要的服务和广播 -->
        <!--<service-->
            <!--android:name="cn.bmob.push.lib.service.PushService"-->
            <!--android:exported="true"-->
            <!--android:label="PushService"-->
            <!--android:process=":bmobpush">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.bmob.push.lib.service.PushService" />-->
            <!--</intent-filter>-->
        <!--</service> &lt;!&ndash; 用于进程保活 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.bmob.push.lib.service.PushNotifyService"-->
            <!--android:process=":bmobpush"></service>-->

        <!--<receiver android:name="cn.bmob.push.PushReceiver">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; 系统启动完成后会调用 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--&lt;!&ndash; 解锁完成后会调用 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--&lt;!&ndash; 监听网络连通性 &ndash;&gt;-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver> -->
        <!---->
        <!--&lt;!&ndash; 第3步中创建的消息接收器，在这里进行注册 &ndash;&gt;-->
        <!--<receiver android:name=".push.MyPushMessageReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.bmob.push.action.MESSAGE" />-->
            <!--</intent-filter>-->
        <!--</receiver> &lt;!&ndash; 接收心跳和唤醒的广播，要和PushService运行在同个进程 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="cn.bmob.push.PushNotifyReceiver"-->
            <!--android:process=":bmobpush">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; 接收心跳广播的action &ndash;&gt;-->
                <!--<action android:name="cn.bmob.push.action.HEARTBEAT" />-->
                <!--&lt;!&ndash; 接收唤醒广播的action &ndash;&gt;-->
                <!--<action android:name="cn.bmob.push.action.NOTIFY" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity android:name=".activity.SplashActivity"></activity>
        <activity android:name=".activity.LoginActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>