<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uitestdemo">

    <application>
        <activity android:name=".activity.MainUiTestActivity"></activity>
        <activity android:name=".activity.UIMainActivity"></activity>
        <activity android:name=".TestActivity"></activity>

        <meta-data
            android:name="com.example.uitestdemo.UIApplication"
            android:value="IModuleConfig" />
    </application>

</manifest>