<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wxq.developtools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/common_baseStyle">
        <activity android:name=".activity.ConfirmOrderTwoActivity"></activity>
        <activity android:name=".activity.ConfirmOrderActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.ShopCarListActivity" />
        <activity android:name=".activity.CityActivity" />
        <activity
            android:name=".activity.KLookMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.MyCollectionActivity" />
        <activity android:name=".activity.EditPersonActivity" />
        <activity
            android:name=".MvpMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="70503dabb7507dd8ff8126f312fbce84" />

        <service android:name=".LocalService" />
        <service
            android:name=".RemoteService"
            android:process=":remoteprocess" />
        <service
            android:name=".JobHandleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="com.wxq.developtools" />
            </intent-filter>
        </activity>
    </application>

</manifest>