<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdktestdemo">

    <application>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Main2Activity"></activity>
        <meta-data
            android:name="com.example.sdktestdemo.SdkApplication"
            android:value="IModuleConfig" />

    </application>
</manifest>